<% unless comment.new_record? %>
  <div class="comments">
    <h5>Two comments</h5>

    <div class="comment">
      <div class="avatar">
        <%= image_tag "avatar.png", alt: "Avatar" %>
      </div>
        <h5><%= comment.commenter %></h5>  
      <span class="comment-date"><%= comment.created_at.strftime('%b %d, %Y at %H:%M') %></span>

        <p><%= comment.body %></p>
    </div>

    <% if user_signed_in? %>
      <%= link_to 'Destroy Comment', [comment.post, comment],
        :confirm => 'Are you sure?',
        :method => :delete, class: "button destroy" %>
      </p>
    <%end%>
  </div>
<%end%>
