<% content_for :title, "Bradley D Smith" %>

<% @posts.each do |post| %>
<section>
<div class="eight columns">
  <h4 class="post_title"><%= link_to post.try(:title), post %></h4>
  <%= link_to "#" do %>
    <span class="post_date"><%= post.try(:created_at) %></span>
  <% end %>

  <p><%= raw truncate(post.try(:content)) %></p>

  <%= link_to post do %>
     <button class="float_right">READ MORE</button>
  <% end %> 

</div>
<br class="clear">
</section>
<% end %>

<%= will_paginate @posts %>
