<section>
<div class="eight columns">
  <h4 class="post_title"><%= @post.title %></h4>
  <%= link_to "#" do %>
    <span class="post_date"><%= @post.created_at %></span>
  <% end %>


  <p><%= raw(@post.content) %></p>
  <p><%= image_tag @post.image_url(:fourbytwo), class: "float_right" if @post.image? %></p>

</div>

  <div class="metadata">
    <span><i class="icon-pencil"></i><%= link_to 'Writer', '#' %></span> 
    <span><i class="icon-time"></i>  <%= link_to 'Date', '#'%></span>
    <span><i class="icon-list"></i>  <%= link_to 'Category', "#" %></span>
  </div>

  <%= render @post.comments %>
  <h5>Leave a comment</h5>
  <%= render "comments/form" %>
    <br class="clear" />

</div>

  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
  <% end %>
  <%= link_to 'Back', posts_path %>
<br class="clear" />
</section> 
