<section>
<div class="eight columns">
  <h4 class="post_title"><%= @post.title %></h4>
  <%= link_to "#" do %>
    <span class="post_date">Post date</span>
  <% end %>


  <p><%= raw(@post.content) %></p>
  <p><%= image_tag @post.image_url(:fourbytwo), class: "float_right" if @post.image? %></p>

  <div class="metadata">
    <span><i class="icon-pencil"></i><a href="archive.html">Writer</a></span>
    <span><i class="icon-time"></i><a href="archive.html">Date</a></span>
    <span><i class="icon-list"></i><a href="archive.html">Tags/Category</a></span>
  </div>

  <%= render @post.comments %>
  <h5>Leave a comment</h5>
  <%= render "comments/form" %>
    <br class="clear" />
  </div>

</div>

  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
  <% end %>
  <%= link_to 'Back', posts_path %>
<br class="clear" />
</section> 
