 <!-- Main Blog Content -->
    <div class="nine columns" role="content">

      <article>

        <h3><%= @post.title %></h3>
        <h6>Written by <%= @post.name %> on August 12, 2012.</h6>

        <div class="row">
          <div class="six columns">
            <p><%= @post.content %> </p>
         </div>
          <div class="six columns">
            <%= image_tag @post.image_url(:fourbytwo) if @post.image? %>
          </div>
        </div>

        <p>this is more area to write in </p>
        <p>this is even more area to write in </p>
        <h2>Add a comment:</h2>
        <%= form_for([@post, @post.comments.build]) do |f| %>
          <div class="field">
            <%= f.label :commenter %><br />
            <%= f.text_field :commenter %>
          </div>
          <div class="field">
            <%= f.label :body %><br />
            <%= f.text_area :body %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>

        </article>

        <hr />
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Back', posts_path %>
